default: &default
  adapter: postgresql
  user: championship
  password: 123456
  host: postgres
  port: 5432
  schema_search_path: public
  encoding: utf8
  max_connections: 10
development:
  <<: *default
  database: championship_development

test:
  <<: *default
  database: championship_test